{% extends 'main/layout.html' %}


{% block title %} {{title}} {% endblock %}


{% block content %}
    <div class="features">
        <h1> {{title}} </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aspernatur dolores ducimus ea ex expedita, impedit incidunt ipsum optio possimus quia reiciendis repudiandae sapiente sunt tenetur veniam. A ad amet atque distinctio ex, libero nihil nulla porro possimus voluptates!</p>
        <buttom class="btn btn-warning">Кнопка</buttom>
    </div>
{% endblock %}