{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>

    <aside>
        <div class="logo-container">
            <img src="{% static 'main/img/django.svg' %}" alt="Dj">
            <span class="logo">MyBlogs</span>
        </div>
        <h3>Navigation</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Главная</li></a>
                <a href="{% url 'resources' %}"><li><i class="fas fa-fire-alt"></i> Популярное</li></a>
                <a href="{% url 'about' %}"><li><i class="fas fa-info-circle"></i> О нас</li></a>

            {% if user.is_authenticated %}
             <li class="info"><i class="fas fa-user-circle"></i> {{ user.username }}</li>
             <a href="{% url 'logout' %}"><li><i class="fas fa-sign-out-alt"></i> Выйти</li></a>
            {% else %}
            <a href="{% url 'login' %}"><li class="info"><i class="fas fa-sign-in-alt"></i></i> Войти</li></a>
            <a href="{% url 'register' %}"><li><i class="fas fa-plus-circle"></i></i> Регистрация</li></a>
            {% endif %}
        </ul>

    </aside>
    
    <main>
    {% block content %}
    {%  endblock %}
    </main>

</body>
</html>